<div class="div_admin_dashboard">
    <h1>Welcome to Admin Dashboard!!!</h1>
    <div>
        <h1>View and create Users!!!</h1>
        <button type="button" (click)="viewUsers()">
            View Users
        </button>
        <button type="button" (click)="createUser()">
            Create User
        </button>
    </div>
    <div>
        <h1>View and create Superheroes!!!</h1>
        <button type="button" (click)="viewHeroes()">
            View Superheroes
        </button>
        <button type="button" (click)="createHeroes()">
            Create Superhero
        </button>
    </div>
    <div>
        <h1>Superheroes currently fighting!!!</h1>
        <button type="button" (click)="heroesFighting()">
            Fight List
        </button>
    </div>
</div>
