.table-hero{
	max-width:1000px;
	margin:50px auto;
	background:#fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align:center;
}
h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}

.table-hero button,a,.movies_btn{
	width: 150px;
	background: #2471FF;
	border: none;
	padding: 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color: #D2E2FF;
	margin: 10px;
        text-align: center;
}
.table-hero button:hover,
.table-hero a:hover,
.movies_btn:hover,
{
	background: #6B9FFF;
	color:#fff;
}

.table-hero {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.table-hero td, .table-hero th {
  border:1px solid #DDDDDD;
  padding: 8px;
}

.table-hero tr:nth-child(even){background-color: #F3F3F3;}

.table-hero th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2471FF;
  color: white;
  
}

.movies_btn{
	text-align:center;
}

*, *:before, *:after { box-sizing: border-box; }
body { height: 100vh; background: #ccc; overflow: hidden; }

.modal-container {
    
  padding-top: 0px;
  position: relative;
  .modal-content, 
  .modal-backdrop {
    height: 0; 
    width: 0; 
    opacity: 0;
	overflow-y: scroll;
    visibility: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in; 
  }
  .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover { color: #333; }        
  }      
  
  #modal-toggle {
    display: none;  
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;      
      transition: opacity 0.2s ease-in; 
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: #fff;
      max-width: 1000px;
      width: 1000px;
      height: 500px;
      padding: 10px 30px;
      position: fixed;
      left: calc(50% - 500px);
      top: 12%;
      border-radius: 4px;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;      
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);                 
    }  
  }
}