<div class="div_user_dashboard">
    <h1>Welcome to User Dashboard!!!</h1>
    <div>
        <h1>View Superheroes!!!</h1>
        <button type="button" (click)="viewHeroes()">
            View Superheroes
        </button>
    </div>
        <div>
        <h1>Hire a hero!!!</h1>
        <button type="button" (click)="userRequest()">
            Hire Hero
        </button>
    </div>
    <div>
        <h1>Superheroes currently fighting!!!</h1>
        <button type="button" (click)="heroesFighting()">
            Fight List
        </button>
    </div>
</div>
